@import './node_modules/normalize.css/normalize.css';

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'UnicaOne';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/UnicaOne-Regular.ttf');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

menu,
ol,
ul {
    padding: 0;
}

dd {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-body);
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
}

a {
    color: var(--white);
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: var(--acid-vat-green);
    transition: border-bottom-color 0.2s;

    &:hover,
    &:active,
    &:focus {
        border-bottom-color: var(--acid-vat-green-lighter);
    }
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}
