.characterGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 32px 32px;
    grid-template-areas: '. . .';
}

@media (--mobile) {
    .characterGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: '.';

        .item {
            margin: 0 auto;
        }
    }
}
